#firstdiv
{
    width: 48%;
    height: 600px;
    margin-left: 320px;
    margin-top: 64px;
    background-color: chocolate;
  }
  #sediv
  {
    background-color: rgb(55, 21, 128);
    width: 20%;
    height: 15px;
    padding-left: 40px;
    padding-top: 20px;
  }
  #as {
    width: 68%;
    height: 60px;
    border: none;
    margin-left: 97px;
    margin-top: -33px;
  }
  .para
  {
    font-size: 49px;
    
    text-align: center;
    color: antiquewhite;
    padding-top: 17px;
  
  }
 .butt{
  width: 50px;
  height: 50px;
 }
 .butdiff
 {
  padding-right: 20px;
  padding-top: 30px;
 }